In [135]:
import pandas as pede
df = pede.read_csv('datatni.csv')
df.drop('kategori', axis=1, inplace=True)

In [136]:
print('--- Data Calon TNI ---')
print(df)
print()
print('--- Statistik Dasar Tinggi Badan ---')
rata_tinggi = df['tinggi'].mean()
tertinggi = df['tinggi'].max()
terendah = df['tinggi'].min()
median = df['tinggi'].median()
print(df['tinggi'].describe().round(3))
print()
print(f'Rata -rata tinggi        : {rata_tinggi} cm')
print(f'Tertinggi                : {tertinggi} cm')
print(f'Terdendah                : {terendah} cm')
print(f'Median atau Nilai tengah : {median} cm')

--- Data Calon TNI ---
    name                    alamat  tinggi
0   Andi        Jl. Merdeka No. 18     175
1   Budi        Jl. Sudirman No. 5     178
2   Cira        Jl. Thamrin No. 20     180
3   Devd  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
8  Indah         Jl. Senayan No. 9     178
9  Jilan        Jl. Kuningan No. 2     160

--- Statistik Dasar Tinggi Badan ---
count     10.000
mean     175.700
std        7.646
min      160.000
25%      171.250
50%      178.000
75%      180.000
max      185.000
Name: tinggi, dtype: float64

Rata -rata tinggi        : 175.7 cm
Tertinggi                : 185 cm
Terdendah                : 160 cm
Median atau Nilai tengah : 178.0 cm

In [137]:
print('--- Calon diatas rata - rata tinggi ---\n')
rata_tinggi = df['tinggi'].mean()
diatas_rata_tinggi = df[df['tinggi'] > rata_tinggi]
print(f'{diatas_rata_tinggi}\n')
print('--- Urutan dari tertinggi ke terendah ---\n')
urutan = df.sort_values(by='tinggi', ascending=False)
print(f'{urutan}\n')
df = pede.read_csv('datatni.csv')
print('--- Data dengan kategori ---\n')
print(df)
print('\n--- Jumlah calon berdasarkan Tinggi ---')
kategories = df['tinggi'].value_counts()
print(f'{kategories}\n')
print('\n--- Jumlah calon berdasarkan Kategori ---')
ciri = df['kategori'].value_counts()
print(ciri)

--- Calon diatas rata - rata tinggi ---

    name                    alamat  tinggi
1   Budi        Jl. Sudirman No. 5     178
2   Cira        Jl. Thamrin No. 20     180
3   Devd  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
8  Indah         Jl. Senayan No. 9     178

--- Urutan dari tertinggi ke terendah ---

    name                    alamat  tinggi
5  Fajar       Jl. Kuningan No. 12     185
4    Eka     Jl. Rasuna Said No. 8     183
3   Devd  Jl. Gatot Subroto No. 15     180
2   Cira        Jl. Thamrin No. 20     180
8  Indah         Jl. Senayan No. 9     178
1   Budi        Jl. Sudirman No. 5     178
0   Andi        Jl. Merdeka No. 18     175
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
9  Jilan        Jl. Kuningan No. 2     160

--- Data dengan kategori ---

    name                    alamat  tinggi kategori
0   Andi        Jl. Merdeka No. 18     175   Sedang
1   Budi        Jl. Sudirman No. 5     178   Sedang
2   Cira        Jl. Thamrin No. 20     180   Tinggi
3   Devd  Jl. Gatot Subroto No. 15     180   Tinggi
4    Eka     Jl. Rasuna Said No. 8     183   Tinggi
5  Fajar       Jl. Kuningan No. 12     185   Tinggi
6   Gina          Jl. Cikini No. 3     170   Sedang
7   Hadi        Jl. Palmerah No. 7     168   Pendek
8  Indah         Jl. Senayan No. 9     178   Sedang
9  Jilan        Jl. Kuningan No. 2     160   Pendek

--- Jumlah calon berdasarkan Tinggi ---
tinggi
178    2
180    2
175    1
183    1
185    1
170    1
168    1
160    1
Name: count, dtype: int64


--- Jumlah calon berdasarkan Kategori ---
kategori
Sedang    4
Tinggi    4
Pendek    2
Name: count, dtype: int64

In [138]:
print('--- Statistik Lanjutan ---\n')
std = round(df['tinggi'].std(), 2)
varsi = round(df['tinggi'].var(), 2)
print(f'Standar Deviasi : {std}')
print(f'Variansi        : {varsi}')
print('\n--- Calon dengan tinggi badan tertinggi ---\n')
data_tertinggi = df[df['tinggi'] == df['tinggi'].max()]
print(data_tertinggi)

--- Statistik Lanjutan ---

Standar Deviasi : 7.65
Variansi        : 58.46

--- Calon dengan tinggi badan tertinggi ---

    name               alamat  tinggi kategori
5  Fajar  Jl. Kuningan No. 12     185   Tinggi